/* ! Base Style */


body {font-family: 'Merriweather', serif;font-size: 16px;}


a{text-decoration: none;}

h1, h2, h3, h4, h5, p{color: #000; padding-bottom: 30px;}

.big-text{font-size:70px; font-weight: 900;}
.med-text{font-size: 40px;}
.normal-text{font-size: 20px;}
.small-text{font-size: 14px;}

.intro-text{text-transform: uppercase; font-size: 20px; font-weight: bold;}

.button{padding: 18px 20px; background:  #6706A5; color: #fff; display: inline-block; border-radius: 4px;

}




}

@media (max-width: 768px){

.big-text{font-size: 40px;}

}


/* ! Header */

 header{

  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 22px;
  display: flex;
  max-width: 1350px;

 



}




.logo{z-index: 1;
  border: solid red;

}

nav{
transform: translateX(30%);
width: 100%;
z-index: 0;


}

nav li {display: inline-block;}
nav li a{

  color: #E5DECA;
  padding: 20px;
  display: block;
  font-size: 25px;
}

.hamburger{display:none;}





@media (max-width: 768px) {


.nav{position: absolute; top: 0; right: -100%; background: #000; height: 100vh; padding-top: 80px;}
.nav li{display: block;}
.nav li a{padding:15px 30px; font-size:20px }

.nav--open{right: 0%;}

.hamburger{
  display:block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 40px;
  right: 30px;
}

.hamburger span{background: #fff; height: 3px; width: 100%; display: block; margin-bottom: 5px;}

}
/* ! Hero */

.hero{
  height: 100vh;
  display: flex; width: 100%;align-items: center;
  background: linear-gradient(0deg, rgba(0,0,0,.2), rgba(0,0,0, 0.9)),
  url('jazz.jpeg') no-repeat center center;
  background-size: cover;

}



.hero_content{


  padding: 30px;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 30px;



}


.hero_content h1,
.hero_content p{color: #fff;}



/*! Section */

section{

display: flex;
height: 55vh;
border: solid #E5DECA;
border-width: 10px;
width: 100%;
background: url('jazz.nav.png') no-repeat center center;
background-size: cover;
 



}

.section_content{

display: flex;
text-align: center;
margin: 30px;
padding: 50px;
background:  #6706A5;
border: solid #E5DECA;
border-width: 3px;

}


.section_content h2{
padding: 5px;
color: #E5DECA;
height: 9vh;
text-align: center;

 
}

.section_content p{

padding: 20px;
color: #E5DECA;
font-size: 18px;
height: 15vh;

}








*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}